/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* line 2, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 16, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 21, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 25, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 28, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/* line 33, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* line 36, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 39, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 43, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 47, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 50, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 54, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 57, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 62, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 66, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 73, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* line 76, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 79, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 82, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 89, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 93, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 96, ../sass/_normalize.scss */
img {
  border: 0;
}

/* line 99, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 102, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 105, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 110, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 114, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/* line 122, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 126, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 130, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/* line 137, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 141, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 146, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 152, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 156, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 161, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 165, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/_typography.scss */
body {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Lucida Serif", Lucida, Georgia, serif;
  font-size: 16 em;
  color: #3c3c3c;
}

/* line 18, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Forza A", "Forza B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.6em;
  margin-top: 1.33em;
  margin-bottom: 0.2em;
  color: #404850;
}

/* line 26, ../sass/_typography.scss */
h1 {
  font-size: 2.0rem;
  color: #e2603d;
  margin-top: 0.2em;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Lucida Serif", Lucida, Georgia, serif;
}

/* line 27, ../sass/_typography.scss */
h2 {
  font-size: 1.5rem;
  color: #404850;
}

/* line 28, ../sass/_typography.scss */
h3 {
  font-size: 1.25rem;
}

/* line 29, ../sass/_typography.scss */
h4 {
  font-size: 1.0rem;
}

/* line 30, ../sass/_typography.scss */
h5 {
  font-size: 1.0rem;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Lucida Serif", Lucida, Georgia, serif;
  text-transform: uppercase;
}

/* line 31, ../sass/_typography.scss */
h6 {
  font-size: 0.9rem;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Lucida Serif", Lucida, Georgia, serif;
  text-transform: uppercase;
}

/* line 32, ../sass/_typography.scss */
.header-text {
  font-family: "Forza A", "Forza B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: -.075rem;
}

/* line 38, ../sass/_typography.scss */
.body-text {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Lucida Serif", Lucida, Georgia, serif;
}

/* line 41, ../sass/_typography.scss */
.small-header-text {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Lucida Serif", Lucida, Georgia, serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 46, ../sass/_typography.scss */
.deck {
  font-size: 1.2em;
  line-height: 1.8em;
}

/* line 50, ../sass/_typography.scss */
blockquote {
  border-left: 1px solid #f2bbac;
  margin-left: 0;
  padding-left: 2em;
}

/* line 4, ../sass/_layout.scss */
.container, .table-outer-container {
  *zoom: 1;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
/* line 17, ../bourbon/addons/_clearfix.scss */
.container:before, .container:after, .table-outer-container:before, .table-outer-container:after {
  content: " ";
  display: table;
}
/* line 23, ../bourbon/addons/_clearfix.scss */
.container:after, .table-outer-container:after {
  clear: both;
}

@media screen and (min-width: 250px) and (max-width: 500px) {
  /* line 11, ../sass/_layout.scss */
  .table-inner-container {
    display: block;
    float: left;
    margin-right: 1.79116%;
    width: 100%;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container:last-child {
    margin-right: 0;
  }
  /* line 13, ../sass/_layout.scss */
  .table-inner-container .one-third {
    display: block;
    float: left;
    margin-right: 1.79116%;
    width: 100%;
    padding: 1em;
    text-align: left;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container .one-third:last-child {
    margin-right: 0;
  }
  /* line 17, ../sass/_layout.scss */
  .table-inner-container .one-third.middle {
    display: block;
    float: left;
    margin-right: 1.79116%;
    width: 100%;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container .one-third.middle:last-child {
    margin-right: 0;
  }
  /* line 20, ../sass/_layout.scss */
  .table-inner-container .one-third.last {
    margin-right: 0;
  }
  /* line 25, ../sass/_layout.scss */
  .table-inner-container ul.color-container {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    float: left;
    margin-right: 1.79116%;
    width: 100%;
    padding: 0;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container ul.color-container:last-child {
    margin-right: 0;
  }
  /* line 30, ../sass/_layout.scss */
  .table-inner-container ul.color-container li.color-block {
    display: block;
    float: left;
    margin-right: 1.79116%;
    width: 100%;
    padding: 0.70885%;
    height: 4em;
    text-align: center;
    margin-right: 0;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container ul.color-container li.color-block:last-child {
    margin-right: 0;
  }
  /* line 24, ../neat/grid/_omega.scss */
  .table-inner-container ul.color-container li.color-block:nth-child(1n) {
    margin-right: 0;
  }

  /* line 40, ../sass/_layout.scss */
  .navigation {
    display: block;
    float: left;
    margin-right: 1.79116%;
    width: 100%;
    padding: 1em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .navigation:last-child {
    margin-right: 0;
  }

  /* line 44, ../sass/_layout.scss */
  .imagery {
    display: block;
    float: left;
    margin-right: 1.79116%;
    width: 100%;
    padding: 1em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .imagery:last-child {
    margin-right: 0;
  }

  /* line 48, ../sass/_layout.scss */
  .article-example {
    display: block;
    float: left;
    margin-right: 1.79116%;
    width: 100%;
    padding: 1em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .article-example:last-child {
    margin-right: 0;
  }

  /* line 52, ../sass/_layout.scss */
  .buttons {
    display: block;
    float: left;
    margin-right: 1.79116%;
    width: 100%;
    padding: 1em;
    text-align: center;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .buttons:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  /* line 61, ../sass/_layout.scss */
  .table-inner-container {
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 100%;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container:last-child {
    margin-right: 0;
  }
  /* line 63, ../sass/_layout.scss */
  .table-inner-container .one-third {
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 39.35977%;
    padding: 1em;
    text-align: left;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container .one-third:last-child {
    margin-right: 0;
  }
  /* line 67, ../sass/_layout.scss */
  .table-inner-container .one-third.middle {
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 59.57318%;
    margin-right: 0;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container .one-third.middle:last-child {
    margin-right: 0;
  }
  /* line 71, ../sass/_layout.scss */
  .table-inner-container .one-third.last {
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 100%;
    text-align: center;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container .one-third.last:last-child {
    margin-right: 0;
  }
  /* line 77, ../sass/_layout.scss */
  .table-inner-container ul.color-container {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 100%;
    padding: 0;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container ul.color-container:last-child {
    margin-right: 0;
  }
  /* line 82, ../sass/_layout.scss */
  .table-inner-container ul.color-container li.color-block {
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 19.14636%;
    padding: 0.70885%;
    height: 8em;
    text-align: center;
    margin-right: 0;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container ul.color-container li.color-block:last-child {
    margin-right: 0;
  }
  /* line 24, ../neat/grid/_omega.scss */
  .table-inner-container ul.color-container li.color-block:nth-child(5n) {
    margin-right: 0;
  }

  /* line 92, ../sass/_layout.scss */
  .navigation {
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 49.46647%;
    padding: 1em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .navigation:last-child {
    margin-right: 0;
  }

  /* line 96, ../sass/_layout.scss */
  .imagery {
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 49.46647%;
    padding: 1em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .imagery:last-child {
    margin-right: 0;
  }

  /* line 100, ../sass/_layout.scss */
  .article-example {
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 49.46647%;
    padding: 1.5em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .article-example:last-child {
    margin-right: 0;
  }

  /* line 104, ../sass/_layout.scss */
  .typography {
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 49.46647%;
    padding: 1.5em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .typography:last-child {
    margin-right: 0;
  }

  /* line 108, ../sass/_layout.scss */
  .interactive {
    display: block;
    float: left;
    margin-right: 1.06705%;
    width: 49.46647%;
    padding: 1em;
    text-align: center;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .interactive:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 900px) and (max-width: 3000px) {
  /* line 117, ../sass/_layout.scss */
  .table-inner-container {
    display: block;
    float: left;
    margin-right: 0.70885%;
    width: 100%;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container:last-child {
    margin-right: 0;
  }
  /* line 119, ../sass/_layout.scss */
  .table-inner-container .one-third {
    display: block;
    float: left;
    margin-right: 0.70885%;
    width: 26.14685%;
    padding: 1em;
    text-align: left;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container .one-third:last-child {
    margin-right: 0;
  }
  /* line 123, ../sass/_layout.scss */
  .table-inner-container .one-third.middle {
    display: block;
    float: left;
    margin-right: 0.70885%;
    width: 46.28861%;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container .one-third.middle:last-child {
    margin-right: 0;
  }
  /* line 130, ../sass/_layout.scss */
  .table-inner-container ul.color-container {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    float: left;
    margin-right: 2.15712%;
    width: 100%;
    padding: 0;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container ul.color-container:last-child {
    margin-right: 0;
  }
  /* line 135, ../sass/_layout.scss */
  .table-inner-container ul.color-container li.color-block {
    display: block;
    float: left;
    margin-right: 0.70885%;
    width: 19.43292%;
    padding: 0.70885%;
    height: 8em;
    text-align: center;
    margin-right: 0;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .table-inner-container ul.color-container li.color-block:last-child {
    margin-right: 0;
  }
  /* line 24, ../neat/grid/_omega.scss */
  .table-inner-container ul.color-container li.color-block:nth-child(5n) {
    margin-right: 0;
  }

  /* line 145, ../sass/_layout.scss */
  .navigation {
    display: block;
    float: left;
    margin-right: 0.70885%;
    width: 53.00254%;
    padding: 1em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .navigation:last-child {
    margin-right: 0;
  }

  /* line 149, ../sass/_layout.scss */
  .imagery {
    display: block;
    float: left;
    margin-right: 0.70885%;
    width: 46.28861%;
    padding: 1em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .imagery:last-child {
    margin-right: 0;
  }
  /* line 152, ../sass/_layout.scss */
  .imagery .imagery-list {
    display: block;
    float: left;
    margin-right: 1.53137%;
    width: 41.98208%;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .imagery .imagery-list:last-child {
    margin-right: 0;
  }
  /* line 155, ../sass/_layout.scss */
  .imagery .imagery-examples {
    display: block;
    float: left;
    margin-right: 1.53137%;
    width: 56.48656%;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .imagery .imagery-examples:last-child {
    margin-right: 0;
  }

  /* line 159, ../sass/_layout.scss */
  .article-example {
    display: block;
    float: left;
    margin-right: 0.70885%;
    width: 53.00254%;
    padding: 1.5em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .article-example:last-child {
    margin-right: 0;
  }

  /* line 163, ../sass/_layout.scss */
  .typography {
    display: block;
    float: left;
    margin-right: 0.70885%;
    width: 46.28861%;
    padding: 1.5em;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .typography:last-child {
    margin-right: 0;
  }

  /* line 167, ../sass/_layout.scss */
  .buttons {
    display: block;
    float: left;
    margin-right: 0.70885%;
    width: 26.14685%;
    padding: 1em;
    text-align: center;
  }
  /* line 54, ../neat/grid/_span-columns.scss */
  .buttons:last-child {
    margin-right: 0;
  }
  /* line 171, ../sass/_layout.scss */
  .buttons form {
    text-align: left;
  }
}
/* line 11, ../sass/style.scss */
body {
  background: #f1f1f1;
  color: #3c3c3c;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
}

/* line 17, ../sass/style.scss */
a {
  color: #e57253;
}

/* line 20, ../sass/style.scss */
a:hover, a:active {
  color: #b63c1c;
}

/* line 23, ../sass/style.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 26, ../sass/style.scss */
.masthead.container-full {
  max-width: 100%;
  background: #353b42;
  padding: 0.70885%;
  color: #e57253;
}
/* line 29, ../sass/style.scss */
.masthead.container-full h1 {
  margin: 0;
}
/* line 32, ../sass/style.scss */
.masthead.container-full h4 {
  color: #ffffff;
  margin-top: 0.25em;
  font-size: 1.25rem;
  font-weight: 400;
}
/* line 33, ../sass/style.scss */
.masthead.container-full h6 {
  margin-top: 0.25em;
  font-size: 0.875em;
  color: #a0d6e3;
  font-weight: 400;
}

/* line 39, ../sass/style.scss */
a.button {
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #e1e1e1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1e1e1), color-stop(100%, #c5c5c5));
  background-image: -webkit-linear-gradient(top, #e1e1e1, #c5c5c5);
  background-image: -moz-linear-gradient(top, #e1e1e1, #c5c5c5);
  background-image: -ms-linear-gradient(top, #e1e1e1, #c5c5c5);
  background-image: -o-linear-gradient(top, #e1e1e1, #c5c5c5);
  background-image: linear-gradient(top, #e1e1e1, #c5c5c5);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ebebeb;
  -webkit-background-clip: padding-box;
  font-family: "Forza A", "Forza B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: .25em 0;
  font-size: 0.875rem;
}
/* line 79, ../bourbon/addons/_button.scss */
a.button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #eeeeee;
  cursor: pointer;
  background-color: #d4d4d4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4d4d4), color-stop(100%, #bdbdbd));
  background-image: -webkit-linear-gradient(top, #d4d4d4, #bdbdbd);
  background-image: -moz-linear-gradient(top, #d4d4d4, #bdbdbd);
  background-image: -ms-linear-gradient(top, #d4d4d4, #bdbdbd);
  background-image: -o-linear-gradient(top, #d4d4d4, #bdbdbd);
  background-image: linear-gradient(top, #d4d4d4, #bdbdbd);
}
/* line 95, ../bourbon/addons/_button.scss */
a.button:active:not(:disabled) {
  border: 1px solid #bdbdbd;
  box-shadow: inset 0 0 8px 4px #b6b6b6, inset 0 0 8px 4px #b6b6b6, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../bourbon/addons/_button.scss */
a.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 44, ../sass/style.scss */
a.button.primary {
  border: 1px solid #dc3f15;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #eaab9a;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #e57253;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e57253), color-stop(100%, #e94317));
  background-image: -webkit-linear-gradient(top, #e57253, #e94317);
  background-image: -moz-linear-gradient(top, #e57253, #e94317);
  background-image: -ms-linear-gradient(top, #e57253, #e94317);
  background-image: -o-linear-gradient(top, #e57253, #e94317);
  background-image: linear-gradient(top, #e57253, #e94317);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #d0360c;
  -webkit-background-clip: padding-box;
  font-size: 1rem;
}
/* line 79, ../bourbon/addons/_button.scss */
a.button.primary:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #e2886f;
  cursor: pointer;
  background-color: #dd6241;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd6241), color-stop(100%, #db4016));
  background-image: -webkit-linear-gradient(top, #dd6241, #db4016);
  background-image: -moz-linear-gradient(top, #dd6241, #db4016);
  background-image: -ms-linear-gradient(top, #dd6241, #db4016);
  background-image: -o-linear-gradient(top, #dd6241, #db4016);
  background-image: linear-gradient(top, #dd6241, #db4016);
}
/* line 95, ../bourbon/addons/_button.scss */
a.button.primary:active:not(:disabled) {
  border: 1px solid #dc3f15;
  box-shadow: inset 0 0 8px 4px #cc3c16, inset 0 0 8px 4px #cc3c16, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../bourbon/addons/_button.scss */
a.button.primary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 48, ../sass/style.scss */
a.button.secondary {
  border: 1px solid #60c4db;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #ddeef3;
  color: #333333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #a0d6e3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0d6e3), color-stop(100%, #6dc8de));
  background-image: -webkit-linear-gradient(top, #a0d6e3, #6dc8de);
  background-image: -moz-linear-gradient(top, #a0d6e3, #6dc8de);
  background-image: -ms-linear-gradient(top, #a0d6e3, #6dc8de);
  background-image: -o-linear-gradient(top, #a0d6e3, #6dc8de);
  background-image: linear-gradient(top, #a0d6e3, #6dc8de);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #abe0ed;
  -webkit-background-clip: padding-box;
  font-size: 0.875rem;
}
/* line 79, ../bourbon/addons/_button.scss */
a.button.secondary:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #b7dce5;
  cursor: pointer;
  background-color: #8fccda;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fccda), color-stop(100%, #61c3db));
  background-image: -webkit-linear-gradient(top, #8fccda, #61c3db);
  background-image: -moz-linear-gradient(top, #8fccda, #61c3db);
  background-image: -ms-linear-gradient(top, #8fccda, #61c3db);
  background-image: -o-linear-gradient(top, #8fccda, #61c3db);
  background-image: linear-gradient(top, #8fccda, #61c3db);
}
/* line 95, ../bourbon/addons/_button.scss */
a.button.secondary:active:not(:disabled) {
  border: 1px solid #60c4db;
  box-shadow: inset 0 0 8px 4px #56bed7, inset 0 0 8px 4px #56bed7, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../bourbon/addons/_button.scss */
a.button.secondary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 52, ../sass/style.scss */
a.button.success {
  border: 1px solid #003900;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #08c408;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: green;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, green), color-stop(100%, #004800));
  background-image: -webkit-linear-gradient(top, green, #004800);
  background-image: -moz-linear-gradient(top, green, #004800);
  background-image: -ms-linear-gradient(top, green, #004800);
  background-image: -o-linear-gradient(top, green, #004800);
  background-image: linear-gradient(top, green, #004800);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #002400;
  -webkit-background-clip: padding-box;
}
/* line 79, ../bourbon/addons/_button.scss */
a.button.success:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #059405;
  cursor: pointer;
  background-color: #026402;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #026402), color-stop(100%, #003900));
  background-image: -webkit-linear-gradient(top, #026402, #003900);
  background-image: -moz-linear-gradient(top, #026402, #003900);
  background-image: -ms-linear-gradient(top, #026402, #003900);
  background-image: -o-linear-gradient(top, #026402, #003900);
  background-image: linear-gradient(top, #026402, #003900);
}
/* line 95, ../bourbon/addons/_button.scss */
a.button.success:active:not(:disabled) {
  border: 1px solid #003900;
  box-shadow: inset 0 0 8px 4px #002900, inset 0 0 8px 4px #002900, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../bourbon/addons/_button.scss */
a.button.success:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 55, ../sass/style.scss */
a.button.alert {
  border: 1px solid #b80000;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #f85454;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, red), color-stop(100%, #c70000));
  background-image: -webkit-linear-gradient(top, red, #c70000);
  background-image: -moz-linear-gradient(top, red, #c70000);
  background-image: -ms-linear-gradient(top, red, #c70000);
  background-image: -o-linear-gradient(top, red, #c70000);
  background-image: linear-gradient(top, red, #c70000);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #a30000;
  -webkit-background-clip: padding-box;
}
/* line 79, ../bourbon/addons/_button.scss */
a.button.alert:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #f72222;
  cursor: pointer;
  background-color: #e10505;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e10505), color-stop(100%, #b80000));
  background-image: -webkit-linear-gradient(top, #e10505, #b80000);
  background-image: -moz-linear-gradient(top, #e10505, #b80000);
  background-image: -ms-linear-gradient(top, #e10505, #b80000);
  background-image: -o-linear-gradient(top, #e10505, #b80000);
  background-image: linear-gradient(top, #e10505, #b80000);
}
/* line 95, ../bourbon/addons/_button.scss */
a.button.alert:active:not(:disabled) {
  border: 1px solid #b80000;
  box-shadow: inset 0 0 8px 4px #a80000, inset 0 0 8px 4px #a80000, 0 1px 1px 0 #eeeeee;
}
/* line 38, ../bourbon/addons/_button.scss */
a.button.alert:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 60, ../sass/style.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  border-radius: 3px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

/* line 79, ../sass/style.scss */
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
  background: yellow;
}

/* line 83, ../sass/style.scss */
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  background: white;
}

/* line 89, ../sass/style.scss */
.one-third {
  text-align: center;
}
/* line 91, ../sass/style.scss */
.one-third h4 {
  border-bottom: 1px solid #c8c8c8;
}
/* line 92, ../sass/style.scss */
.one-third.first {
  text-align: center;
  background: #ffffff;
}
/* line 95, ../sass/style.scss */
.one-third.first .primary-bg {
  background: #e2603d;
}
/* line 98, ../sass/style.scss */
.one-third.first .alt-bg {
  background: #353b42;
}
/* line 102, ../sass/style.scss */
.one-third.middle {
  background: #ffffff;
}
/* line 105, ../sass/style.scss */
.one-third.middle p i {
  font-size: 1.5em;
}
/* line 110, ../sass/style.scss */
.one-third.last {
  background: #ffffff;
  text-align: left;
}
/* line 114, ../sass/style.scss */
.one-third dd {
  margin-left: 1em;
  margin-bottom: 1em;
}

/* line 122, ../sass/style.scss */
.navigation ul li {
  display: inline-block;
}
/* line 124, ../sass/style.scss */
.navigation ul li a {
  text-decoration: none;
  font-family: "Forza A", "Forza B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* line 133, ../sass/style.scss */
blockquote {
  border-left: 1px solid #f2bbac;
  margin-left: 0;
  padding-left: 2em;
}

/* line 139, ../sass/style.scss */
.color-container {
  padding: 0;
}
/* line 141, ../sass/style.scss */
.color-container li {
  font-size: 0.5em;
}

/* line 146, ../sass/style.scss */
.primary {
  background: #e57253;
  color: #f2bbac;
}
/* line 148, ../sass/style.scss */
.primary.dark1 {
  background: #de4e27;
}
/* line 149, ../sass/style.scss */
.primary.dark2 {
  background: #e2603d;
}
/* line 150, ../sass/style.scss */
.primary.light1 {
  background: #e88469;
}
/* line 151, ../sass/style.scss */
.primary.light2 {
  background: #ec967f;
}

/* line 154, ../sass/style.scss */
.secondary {
  background: #a0d6e3;
  color: #eff8fa;
}
/* line 156, ../sass/style.scss */
.secondary.dark1 {
  background: #79c5d7;
}
/* line 157, ../sass/style.scss */
.secondary.dark2 {
  background: #8ccddd;
}
/* line 158, ../sass/style.scss */
.secondary.light1 {
  background: #b4dee9;
}
/* line 159, ../sass/style.scss */
.secondary.light2 {
  background: #c7e7ef;
}

/* line 162, ../sass/style.scss */
.tertiary {
  background: #e1e1e1;
  color: #aeaeae;
}
/* line 164, ../sass/style.scss */
.tertiary.dark1 {
  background: #c8c8c8;
}
/* line 165, ../sass/style.scss */
.tertiary.dark2 {
  background: #d4d4d4;
}
/* line 166, ../sass/style.scss */
.tertiary.light1 {
  background: #eeeeee;
}
/* line 167, ../sass/style.scss */
.tertiary.light2 {
  background: #fbfbfb;
}

/* line 175, ../sass/style.scss */
section, article {
  background: #ffffff;
}

/* line 178, ../sass/style.scss */
.article-example p {
  font-size: 1rem;
  line-height: 1.6;
}
/* line 181, ../sass/style.scss */
.article-example p.deck {
  font-size: 1.125em;
  line-height: 1.6;
}

/* line 186, ../sass/style.scss */
.key, h6.key {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Lucida Serif", Lucida, Georgia, serif;
  font-size: 0.6em;
  margin-top: 1em;
  text-transform: uppercase;
  color: #7c7c7c;
}

/* line 193, ../sass/style.scss */
h6.key {
  font-size: 0.8em;
  border-bottom: 1px solid #d4d4d4;
}

/* line 198, ../sass/style.scss */
p.key {
  margin-bottom: 0;
}

/* line 202, ../sass/style.scss */
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  margin: 0 0.5em;
}
/* line 203, ../sass/style.scss */
.typography h6.key {
  margin: 1em 0 0.2em 0;
}
/* line 204, ../sass/style.scss */
.typography p {
  margin-top: 0;
  margin-left: 0.6em;
}
/* line 205, ../sass/style.scss */
.typography p.key {
  margin-top: 1em;
}

/* line 207, ../sass/style.scss */
.imagery ul {
  padding-left: 1em;
}
/* line 209, ../sass/style.scss */
.imagery ul li {
  font-size: 0.9em;
}

/* line 213, ../sass/style.scss */
.imagery-examples {
  background: #e57253;
}
