// =====================
// COLORS --------------
// =====================
$primaryColor: #e57253;
$secondaryColor: #a0d6e3;
$tertiaryColor: #e1e1e1;
$lightGray: #e1e1e1;
$slate: #353b42;

// TEXT COLORS
$primaryText: #3c3c3c;
