// =====================
// COLORS --------------
// =====================
$primaryColor: #d16144;
$secondaryColor: #303030;
$tertiaryColor: #e1e1e1;

// =====================
// TYPOGRAPHY ----------
// =====================
$bodyStack: "Enzo OT", $lucida-grande;
$displayStack: Idlewild, sans-serif;
$font-size: 1em;
$unit: em;
$line-height: $font-size * 1.6;

body {
	font-family: $bodyStack;
	font-size: 16$unit;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $displayStack;
	font-weight: 400;
	line-height: 1.6em;
	margin-top: 1.33em;
	margin-bottom: 0.2em;
}
h1 { font-size: 1.8em; margin-top: 0.5em;}
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }
h4 { font-size: 1.0em; }
h5 { font-size: 1.0em; font-family: $bodyStack; text-transform: uppercase; letter-spacing: 0.18em;} 
h6 { font-size: 0.9em; font-family: $bodyStack; text-transform: uppercase; letter-spacing: 0.18em;} 
.header-text {
	font-family: $displayStack;
}
.body-text {
	font-family: $bodyStack;
}
.small-header-text {
	font-family: $bodyStack;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.deck {
	font-size: 1.2em;
	line-height: 1.8em;
}
blockquote {
	border-left: 1px solid lighten( $primaryColor, 20% );
	margin-left: 0;
	padding-left: 2em;
}

// =====================
// THE GRID ------------
// =====================
.container {
	@include outer-container;
	@include pad(1em);
}

// MOBILE GRID
@include media($mobile) {
	.table-outer-container {
		@include outer-container;
		@include pad(1em);
		.table-inner-container {
			@include span-columns(6);
			.one-third {
				@include span-columns(6);
				@include pad(1em);
				text-align: left;
				&.middle {
					@include span-columns(6);
				}
				&.last {
					@include omega();
					@include reset-display;
				}
			}
			ul.color-container {
				margin-top: 0;
				margin-bottom: 0;
				@include span-columns(6 of 6);
				@include pad(0); 
				li.color-block {
				  @include span-columns(6);
				  @include omega(1n);
					@include pad();
				  height: 4em;
				  text-align: center;
				  margin-right: 0;
				}
			} 
		}
	}
	.article-example {
		@include span-columns(6);
		@include pad(1.5em);
	}
	.buttons {
		@include span-columns(6);
		@include pad(1em);
		text-align: center;
	}
}

// TABLET GRID
@include media($tablet) {
	.table-outer-container {
		@include outer-container;
		@include pad(1em);
		.table-inner-container {
			@include span-columns(10);
			.one-third {
				@include span-columns(4);
				@include pad(1em);
				text-align: left;
				&.middle {
					@include span-columns(6);
					@include omega;
				}
				&.last {
					@include span-columns(10);
					@include reset-display;
					text-align: center;
				}
			}
			ul.color-container {
				margin-top: 0;
				margin-bottom: 0;
				@include span-columns(10 of 10);
				@include pad(0); 
				li.color-block {
				  @include span-columns(2);
				  @include omega(5n);
					@include pad();
				  height: 8em;
				  text-align: center;
				  margin-right: 0;
				}
			} 
		}
	}
	.article-example {
		@include span-columns(6);
		@include pad(1.5em);
	}
	.buttons {
		@include span-columns(4);
		@include pad(1em);
		text-align: center;
	}
}

// DESKTOP GRID
@include media($desktop) {
	.table-outer-container {
		@include outer-container;
		@include pad(1em);
		.table-inner-container {
			@include span-columns(15);
			.one-third {
				@include span-columns(4);
				@include pad(1em);
				text-align: left;
				&.middle {
					@include span-columns(7);
				}
				&.last {
					@include reset-display;
				}
			}
			ul.color-container {
				margin-top: 0;
				margin-bottom: 0;
				@include span-columns(5 of 5);
				@include pad(0); 
				li.color-block {
				  @include span-columns(3);
				  @include omega(5n);
				  @include pad();
				  height: 8em;
				  text-align: center;
				  margin-right: 0;
				}
			} 
		}
	}
	.article-example {
		@include span-columns(7);
		@include pad(1.5em);
	}
	.buttons {
		@include span-columns(4);
		@include pad(1em);
		text-align: center;
		form {
			text-align: left;
		}
	}
}

ul.color-container {
	@include span-columns(8);
	@include pad(1em); 
}
li.color-block {
  @include span-columns(4);
  @include omega(3n);
  @include pad(1em);
  margin-right: 0;
}