// =====================
// TYPOGRAPHY ----------
// =====================
$sans-serif: 'Forza A', 'Forza B', "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: 'Sentinel SSm A', 'Sentinel SSm B', 'Lucida Serif', Lucida, Georgia, serif;

$bodyStack: $serif;
$displayStack: $sans-serif;
$font-size: 1em;
$unit: em;
$line-height: $font-size * 1.6;

body {
	font-family: $bodyStack;
	font-size: 16$unit;
  color: $primaryText;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $displayStack;
	font-weight: 800;
	line-height: 1.6em;
	margin-top: 1.33em;
	margin-bottom: 0.2em;
  color: lighten($slate, 5%);
}
h1 { font-size: 2.0rem; color: darken( $primaryColor, 5% ); margin-top: 0.2em; font-family: $bodyStack; }
h2 { font-size: 1.5rem; color:lighten($slate, 5%); }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.0rem; }
h5 { font-size: 1.0rem; font-family: $bodyStack; text-transform: uppercase; }
h6 { font-size: 0.9rem; font-family: $bodyStack; text-transform: uppercase; }
.header-text {
	font-family: $displayStack;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: -.075rem;
}
.body-text {
	font-family: $bodyStack;
}
.small-header-text {
	font-family: $bodyStack;
	text-transform: uppercase;
  font-weight: 700;
}
.deck {
	font-size: 1.2em;
	line-height: 1.8em;
}
blockquote {
	border-left: 1px solid lighten( $primaryColor, 20% );
	margin-left: 0;
	padding-left: 2em;
}
