@import "_normalize";
@import "../bourbon/bourbon";
@import "_grid-settings";
@import "../neat/neat";

// Import Basic Structure & Grid
@import "_layout";

// @import "icon-font/_font-style.scss"; // Icon Font

body { 
	background: #f1f1f1;
	color: lighten( $secondaryColor, 20% );
	line-height: $line-height;
	text-rendering: optimizeLegibility;
}
a {
	color: $primaryColor;
}
a:hover, a:active {
	color: darken( $primaryColor, 20% );
}
img { 
	border: 0; max-width: 100%; 
}
.masthead.container-full {
	max-width: 100%;
	background: $secondaryColor;
	h1 { margin: 0; }
	@include pad();
	color: $primaryColor;
	h4 { color: $tertiaryColor; margin-top: 0.25em; }
	h6 { margin-top: 0.25em; font-size: 0.8em }
}

// --------------------------------
// Button & Form Styling ----------
// --------------------------------
a.button {
	@include button($tertiaryColor);
	margin: .25em 0;
}
a.button.primary {
	@include button($primaryColor);
}
a.button.secondary {
	@include button($secondaryColor);
}
a.button.success {
	@include button(green);
}
a.button.alert {
	@include button(red);
}

#{$all-text-inputs} {
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  border-radius: 3px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

#{$all-text-inputs-hover} { // Target the :hover pseudo-class
  background: yellow;
}

#{$all-text-inputs-focus} { // Target the :focus pseudo-class
  background: white;
}



.one-third {
	text-align: center;
	h4 { border-bottom: 1px solid darken( $tertiaryColor, 10% ) }
	&.first {
		background: $secondaryColor;
	}
	&.middle {
		background: #ffffff;
		p {
			i {
				font-size: 1.5em;
			}
		}
	}
	&.last {
		background: $tertiaryColor;
		text-align: left; 
	}
	dd {
		margin-left: 1em;
		margin-bottom: 1em;
	}
}

.navigation {
	ul {
		li {
			display: inline-block;
			a {
				text-decoration: none;
				font-family: $displayStack;
				text-transform: uppercase;
			}
		}
	}
}

.deck {
	font-size: 1.2em;
	line-height: 1.8em;
}
blockquote {
	border-left: 1px solid lighten( $primaryColor, 20% );
	margin-left: 0;
	padding-left: 2em;
}

.color-container {
	@include pad(0);
	li {
		font-size: $font-size / 2;
	}
}

.primary { 
	background: $primaryColor; 
	&.dark1 { background: darken( $primaryColor, 10% ) }
	&.dark2 { background: darken( $primaryColor, 5% ) }
	&.light1 { background: lighten( $primaryColor, 5% ) }
	&.light2 { background: lighten( $primaryColor, 10% ) }
	color: lighten( $primaryColor, 20% )
}
.secondary { 
	background: $secondaryColor; 
	&.dark1 { background: darken( $secondaryColor, 10% ) }
	&.dark2 { background: darken( $secondaryColor, 5% ) }
	&.light1 { background: lighten( $secondaryColor, 5% ) }
	&.light2 { background: lighten( $secondaryColor, 10% ) }
	color: lighten( $secondaryColor, 20% )
}
.tertiary { 
	background: $tertiaryColor; 
	&.dark1 { background: darken( $tertiaryColor, 10% ) }
	&.dark2 { background: darken( $tertiaryColor, 5% ) }
	&.light1 { background: lighten( $tertiaryColor, 5% ) }
	&.light2 { background: lighten( $tertiaryColor, 10% ) }
	color: darken( $tertiaryColor, 20% )
}


// =====================
// STYLEGUIDE STYLING --
// =====================
section, article {
	background: #ffffff;
}
.key {
	font-family: $bodyStack;
	font-size: 0.6em;
	margin-top: 1em;
	text-transform: uppercase;	
}
h6.key {
	@extend .key;
	font-size: 0.8em;
	border-bottom: 1px solid darken( $tertiaryColor, 5% );
}
p.key {
	margin-bottom: 0;
}
.typography {
	h1, h2, h3, h4, h5, h6 { margin: 0 0.5em; }
	h6.key { margin: 1em 0 0.2em 0;  }
	p { margin-top: 0; margin-left: 0.6em; }
	p.key { margin-top: 1em; }
}
.imagery ul {
	padding-left: 1em;
	li {
		font-size: 0.9em;
	}
}

